.dropdown {
    border-radius: 8px;
    border: 1px solid var(--mantine-color-Gray-3);
    background: var(--mantine-color-white);
}

.search {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-left: 40px;
    width: 100%;
}

.options {
    padding: 0 8px;
}

.option {
    padding: 8px 12px;
    transition: all 0.25s ease;

    &:hover {
        background-color: var(--mantine-color-Gray-2) !important;
    }
}
