.root {
    width: 100%;
}

.wrapper {
    &[data-variant='unstyled'] {
        border-radius: 8px;
        padding: 0 8px;

        &:hover {
            background-color: var(--mantine-color-Gray-1);
        }
    }
}

.label {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: var(--mantine-color-Gray-8);
    margin-bottom: 5px;
}

.required {
    color: var(--mantine-color-Brand-5);
}

.input {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 8px;
    color: var(--mantine-color-Gray-10);

    min-height: 40px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.dropdown {
    border-radius: 8px;
    border: 1px solid var(--mantine-color-Gray-3);
    background: var(--mantine-color-white);
}

.option {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: var(--mantine-color-Gray-10);
    padding: 8px 10px;

    &[value='#link'] {
        color: var(--mantine-color-Brand-5);
    }
}

.option > svg {
    color: var(--mantine-color-Brand-5);
}
