.input {
    height: 40px;
    color: var(--mantine-color-Gray-10);
    border-radius: 8px;
    border: 1px solid var(--mantine-color-Gray-4);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    background: var(--mantine-color-white);
    padding: 8px 12px;
    font-family: var(--mantine-font-family);
    font-size: var(--mantine-font-size-lg);
    font-weight: 400;
    min-height: 0px;
    cursor: pointer;
}

.label {
    font-size: var(--mantine-font-size-md);
    font-weight: 500;
    color: var(--mantine-color-Gray-8);
    margin-bottom: 5px;
}

.required {
    color: var(--mantine-color-Brand-5);
}

.root {
    width: 100%;
}
