.tooltip {
    background-color: white;
    border: 1px solid var(--mantine-color-Gray-3);
    box-shadow: 0px 12px 16px -4px rgba(10, 13, 18, 0.08),
        0px 4px 6px -2px rgba(10, 13, 18, 0.03),
        0px 2px 2px -1px rgba(10, 13, 18, 0.04);
    color: var(--mantine-color-Gray-10);
    font-weight: 400;
    line-height: 18px;
    font-size: 12px;
    border-radius: 8px;
    max-width: 250px;
    text-align: center;
    max-height: 300px;
    overflow: hidden;
}
