.root {
    width: 100%;
}

.input {
    border: none !important;
    padding: 0 !important;
    height: 20px !important;
    min-height: 0 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    font-size: inherit !important;
    font-weight: 400 !important;
    font-family: inherit !important;
}

.editContainer {
    height: 20px;
    width: 100%;
    overflow: hidden;

    button {
        display: none;
    }

    &:hover {
        button {
            display: flex;
        }
    }
}
