.arrowRoot {
    background-color: var(--mantine-color-Gray-3) !important;
    border: 1px solid var(--mantine-color-Gray-5) !important;
    padding: 5px !important;
    border-radius: 10px !important;
}

.arrowRoot:hover {
    background-color: var(--mantine-color-Gray-4) !important;
}

.arrowRoot:disabled {
    opacity: 0.5 !important;
}

.arrowRoot:disabled:hover {
    background-color: var(--mantine-color-Gray-3) !important;
}

.actionRoot {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.actionRoot:hover {
    background-color: var(--mantine-color-Gray-3) !important;
}

.actionRoot[data-active='true'] {
    background-color: var(--mantine-color-Gray-3) !important;
}
