.table {
    table-layout: fixed;
    width: 100%;
}

.th,
.td {
    padding: 8px 14px;
    font-family: Inter;
    font-size: 14px;
    color: var(--mantine-color-Gray-8);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
